In [2]:
# import module
import requests
import pandas as pd
from bs4 import BeautifulSoup

# link for extract html data


def getdata(url):
	r = requests.get(url)
	return r.text


htmldata = getdata("https://www.goodreturns.in/petrol-price.html")
soup = BeautifulSoup(htmldata, 'html.parser')

# Declare string var
# Declare list
mydatastr = ''
result = []

# searching all tr in the html data
# storing as a string
for table in soup.find_all('tr'):
	mydatastr += table.get_text()

# set according to your required
mydatastr = mydatastr[1:]
itemlist = mydatastr.split("\n\n")

for item in itemlist[:-5]:
	result.append(item.split("\n"))

# Calling DataFrame constructor on list
df = pd.DataFrame(result[:-8])
df

              0            1                  2
0          City  Today Price  Yesterday's Price
1     New Delhi      ₹ 96.72            ₹ 96.72
2       Kolkata     ₹ 106.03           ₹ 106.03
3        Mumbai     ₹ 111.35           ₹ 111.35
4       Chennai     ₹ 102.75           ₹ 102.63
5       Gurgaon      ₹ 96.92            ₹ 97.10
6         Noida      ₹ 97.00            ₹ 96.69
7     Bangalore     ₹ 101.99           ₹ 101.94
8   Bhubaneswar     ₹ 103.19           ₹ 103.19
9    Chandigarh      ₹ 96.20            ₹ 96.20
10    Hyderabad     ₹ 109.66           ₹ 109.66
11       Jaipur     ₹ 108.61           ₹ 108.08
12      Lucknow      ₹ 96.57            ₹ 96.36
13        Patna     ₹ 107.24           ₹ 107.24
14   Trivandrum     ₹ 107.71           ₹ 107.40